.hide-scroll {
    scrollbar-width: none; /* Para navegadores Firefox */
    -ms-overflow-style: none; /* Para navegadores IE y Edge */
  }
  
  .hide-scroll::-webkit-scrollbar {
    display: none; /* Para navegadores basados en WebKit como Chrome y Safari */
  }